* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-image: url("../Assests/images/b.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px 20px;
}

.logo {
    color: white;
    font-size: 24px ;
    font-weight: bold;
    margin-left: 40px;

}

.logo span{
    color: goldenrod;
    font-size: 24px;
    font-weight: bold;
}

/* Navbar Links */
.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover{
    color: goldenrod;
    text-decoration: none;
    font-size: 18px;
}

